@using CvMakerWebsiteApp.Models;

@{
    Layout = null;
}



@*<head>*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")





<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/js/js/plugin.js"></script>


@*<script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.9/adapters/jquery.js"></script>*@



<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>
<script src="~/js/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init(
        {
            selector: 'textarea',
            menubar: 'false',
            plugins: 'lists placeholder',
            //toolbar: ' bullist numlist | bold underline'
        }


    );

    @{SP_GetSingleCvDetailsByUserIdAndCvId_Result objectCvDetails = (SP_GetSingleCvDetailsByUserIdAndCvId_Result)ViewBag.CvDetails;
}

    //tinymce.dom.Event.add(s.content_editable ? ed.getBody() : (tinymce.isGecko ? ed.getDoc() : ed.getWin()), 'blur', function (e) {
    //    alert('blur');
    //}
</script>

<script type="text/javascript">



        $(document).ready(function () {
            @*alert("heeeeey");
            alert(@Session["CvId"]);
            alert(@TempData["CvId"]);*@
            $("#PreviewTamp1").hide();




            //$("#txtdateStartWork-1,#txtdateStartWork-2,#txtdateEndWork-1,#txtdateEndWork-2,#txtdateStartEdu-1,#txtdateStartEdu-2,#txtdateEndEdu-1,#txtdateEndEdu-2").datepicker({
            //    showOn: "both",
            //    buttonImage: "/Images/calendar.png",
            //    buttonImageOnly: true,
            //    changeMonth: true,
            //    changeYear: true,
            //    maxDate: +0,
            //    yearRange: "-100:+0",
            //    dateFormat: "dd/M/yy"
            //});

            //$("#txtdateStartWork,#txtdateEndWork,#txtdateStartEdu,#txtdateEndEdu").datepicker({
            //    showOn: "both",
            //    buttonImage: "/Images/calendar.png",
            //    buttonImageOnly: true,
            //    changeMonth: true,
            //    changeYear: true,
            //    maxDate: +0,
            //    yearRange: "-100:+0",
            //    dateFormat: "dd/M/yy"
            //});

            //$("input[name='edustart-date']").datepicker({
            //    showOn: "both",
            //    buttonImage: "/Images/calendar.png",
            //    buttonImageOnly: true,
            //    changeMonth: true,
            //    changeYear: true,
            //    maxDate: +0,
            //    yearRange: "-100:+0",
            //    dateFormat: "dd/M/yy",
            //});

            //$("input[name='edustart-date']").datepicker({
            //    onSelect: function () {
            //        $(this).change();
            //    }
            //});

            //$(function () {
            //    $("input[name='edustart-date']").each(function () {
            //        $(this).datepicker({
            //            showOn: "both",
            //            buttonImage: "/Images/calendar.png",
            //            buttonImageOnly: true,
            //            changeMonth: true,
            //            changeYear: true,
            //            maxDate: +0,
            //            yearRange: "-100:+0",
            //            dateFormat: "dd/M/yy"
            //        });
            //    });
            //});

            //$("input[name='edustart-date']").change(function () {

            //     var date1 = $(this);
            //    var date = $("#txtdateStartWork").val();
            //    date1.val(date);



            //});


            //Adding a new Education Details
            $("#eduadd").click(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("AddNewEduDetails")",
                    dataType: "json",
                    success: function (response) {

                        if (response > 0) {
                            //alert(response);
                        location.reload(true);
                    }
                    else
                    {

                    }
                },
                error: function (error)
                {
                    alert("Error Status: " + error.statusText);
                }
            });
            });

            //Adding a new Work Experience Details
            $("#workspaceadd").click(function () {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("AddNewWorkDetails")",
                    dataType: "json",
                    success: function (response) {

                        if (response > 0) {
                            //alert(response);
                        location.reload(true);
                    }
                    else
                    {

                    }
                },
                error: function (error)
                {
                    alert("Error Status: " + error.statusText);
                }
            });
            });

           //Delete one Education record
            $("button[name='DeleteEduButton']").click(function () {
                eduId = $(this).attr("id");
                 $.ajax({
                        type: "POST",
                        contentType: "application/json; charset-utf-8",
                        url: '@Url.Action("DeleteEduDetail")',
                     data: "{eduId:'" + eduId + "'}",
                        dataType: "json",
                        success: function (response) {
                            var value = response;

                            if (parseInt(value) > 0) {
                                location.reload(true);
                            }
                            else {
                            }
                        },
                        error: function (error) {
                            altert("Error: " + error.status);
                        }
                    });
            });

            //Delete one work Experience record
            $("button[name='DeleteWorkButton']").click(function () {
                workExperienceId = $(this).attr("id");
                 $.ajax({
                        type: "POST",
                        contentType: "application/json; charset-utf-8",
                        url: '@Url.Action("DeleteWorkDetail")',
                     data: "{workExperienceId:'" + workExperienceId + "'}",
                        dataType: "json",
                        success: function (response) {
                            var value = response;

                            if (parseInt(value) > 0) {
                                location.reload(true);
                            }
                            else {
                            }
                        },
                        error: function (error) {
                            altert("Error: " + error.status);
                        }
                    });
            });

            @*//Delete Objitive
            $("button[name='DeleteWorkButton']").click(function () {
                workExperienceId = $(this).attr("id");
                 $.ajax({
                        type: "POST",
                        contentType: "application/json; charset-utf-8",
                        url: '@Url.Action("DeleteWorkDetail")',
                     data: "{workExperienceId:'" + workExperienceId + "'}",
                        dataType: "json",
                        success: function (response) {
                            var value = response;

                            if (parseInt(value) > 0) {
                                location.reload(true);
                            }
                            else {
                            }
                        },
                        error: function (error) {
                            altert("Error: " + error.status);
                        }
                    });
            });*@






            /////////////////////////
            ////Education Updation

            ////Updating a Course Name
            //$("input[name='CourseName']").focusout(function () {
            //    var EducationId = $(this).attr("id");
            //    var courseName = $(this).val();

            //    //alert(jobTitle);
            //    $.ajax({
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        url: "/Education/UpdateCourseName",
            //        data: "{ EducationId:'" + EducationId + "', courseName: '" + courseName + "'}",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response > 0) {
            //                location.reload(true);
            //            }
            //            else {

            //            }
            //        },
            //        error: function (error) {
            //            alert("Error Status: " + error.statusText);
            //        }
            //    });
            //});

            ////Updating a institution Name
            //$("input[name='institutionName']").focusout(function () {
            //    var EducationId = $(this).attr("id");
            //    var institutionName = $(this).val();

            //    $.ajax({
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        url: "/Education/UpdateInstitutionName",
            //        data: "{ EducationId:'" + EducationId + "', institutionName: '" + institutionName + "'}",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response > 0) {
            //                location.reload(true);
            //            }
            //            else {

            //            }
            //        },
            //        error: function (error) {
            //            alert("Error Status: " + error.statusText);
            //        }
            //    });
            //});

            ////Updating a Education start date
            //$("input[name='edustart-date']").focusout(function () {
            //    var EducationId = $(this).attr("id");
            //    var edustartdate = $(this).val();

            //    //alert(workstartdate);
            //    $.ajax({
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        url: "/Education/UpdateEdustartdate",
            //        data: "{ EducationId:'" + EducationId + "', edustartdate: '" + edustartdate + "'}",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response > 0) {
            //                location.reload(true);
            //            }
            //            else {

            //            }
            //        },
            //        error: function (error) {
            //            alert("Error Status: " + error.statusText);
            //        }
            //    });
            //});

            ////Updating a Education end date
            //$("input[name='eduend-date']").focusout(function () {
            //    var EducationId = $(this).attr("id");
            //    var eduenddate = $(this).val();

            //    //alert(workenddate);
            //    $.ajax({
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        url: "/Education/UpdateEducatinEndDate",
            //        data: "{ EducationId:'" + EducationId + "', eduenddate: '" + eduenddate + "'}",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response > 0) {
            //                location.reload(true);
            //            }
            //            else {

            //            }
            //        },
            //        error: function (error) {
            //            alert("Error Status: " + error.statusText);
            //        }
            //    });
            //});

            ////Updating other Education Information
            //$("textarea[name='otherEduInfo']").focusout(function () {
            //    var EducationId = $(this).attr("id");
            //    alert("heeeeeeeeey");
            //    var otherEduInfo = tinyMCE.get($(this)).getContent();

            //    //alert(workenddate);
            //    $.ajax({
            //        type: "POST",
            //        contentType: "application/json;charset=utf-8",
            //        url: "/Education/UpdateOtherEduInformation",
            //        data: "{ EducationId:'" + EducationId + "', otherEduInfo: '" + otherEduInfo + "'}",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response > 0) {
            //                location.reload(true);
            //            }
            //            else {

            //            }
            //        },
            //        error: function (error) {
            //            alert("Error Status: " + error.statusText);
            //        }
            //    });
            //});



            $('#btnPrinPreview1').click(function () {
                var doc = new jsPDF();
                doc.fromHTML(
                    $('#PreviewTamp1').html(), 15, 15,
                    { 'width': 170/*, 'elementHandlers': specialElementHandlers*/ },
                    function () { doc.save('sample-file.pdf'); }
                );

            });

            ////////////////////////////////////////////////////////////////
            // Update all information
            $("#SaveInformation").click(function () {
                //Basic Info
                fullName = $("#fullName").val();
                emailId = $("#emailId").val();
                phoneNo = $("#phoneNumber").val();
                website = $("#website").val();
                addline1 = $("#addline1").val();
                addline2 = $("#addline2").val();

                $("#spanSuccussUpdation").html("      Saving...").show();

                //Job Info
                var iframe = $('#editable_container_ifr');
                var editorContent = $('#tinymce[data-id="editable_container"]', iframe.contents()).html();
                console.log(editorContent);

                //Qualification Info
                var qualificationText = tinyMCE.get('qualificationText').getContent();

                //Objectives Info
                var objectivesText = tinyMCE.get('objectivesText').getContent();

                //Interests Info
                var interestsText = tinyMCE.get('interestsText').getContent();

                //Reference Info
                var referenceText = tinyMCE.get('referenceText').getContent();


                //var ImgProfilePhoto = $("#profilePhoto").val();
                //profilePhoto = $("#profilePhoto").val();
                //alert(profilePhoto);
                //alert(ImgProfilePhoto);

                //alert("before sasving all info");

                 $.ajax({
                        type: "POST",
                     contentType: "application/json; charset=utf-8",
                     processData: false,
                     //contentType: false,
                     cache: false,
                     enctype: 'multipart/form-data',
                        url: '@Url.Action("UpdateCvDetails")',
                     data: "{ fullName:'" + fullName + /*"', profilePhoto:'" + profilePhoto +*/ "', emailId:'" + emailId + "', phoneNo:'" + phoneNo + "', website:'" + website + "', addline1:'" + addline1 + "', addline2:'" + addline2 + /*"', jobTitle:'" + jobTitle + "', companyName:'" + companyName + "', dateStartWork:'" + dateStartWork + "', dateEndWork:'" + dateEndWork + "', otherWorkInformation:'" + otherWorkInformation +*/ "', qualificationText:'" + qualificationText + "', objectivesText:'" + objectivesText +/* "', CourseName:'" + CourseName + "', institutionName:'" + institutionName + "', dateStartEdu:'" + dateStartEdu + "', dateEndEdu:'" + dateEndEdu + "', otherEduInfo:'" + otherEduInfo +*/ "', interestsText:'" + interestsText + "', referenceText:'" + referenceText + "'}",
                     //data: formData,
                        dataType: "json",
                        success: function (response) {
                            var value = response;
                            if (parseInt(value) > 0) {
                                //alert(value);
                                $("#spanSuccussUpdation").html("      Saved");
                                $("#spanSuccussUpdation").fadeOut(1000);
                            }
                            else {
                                //$("#pEStatus").html("<b style='color:red'> City Updation Failed</b>");
                                $("#spanFailUpdation").html("Failed to save").hide().fadeIn(100);
                            }
                        },
                        error: function (error) {
                            alert("Error:" + error.status);
                     }

                });
               
                    UploadImage();

                //alert("Before Updating the job title");
                //Jops titles
                //Updating a Job title
                var workExperienceId;
                var jobTitle;
                $("input[name='jobTitle']").each(function (i, obj) {
                    workExperienceId = $(this).attr("id");
                    jobTitle = $(this).val();



                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/WorkExperience/UpdateWorkTitle",
                        data: "{ workExperienceId:'" + workExperienceId + "', jobTitle: '" + jobTitle + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                                alert(response);
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //alert("after Updating the job title");
                //alert("Before Updating the Company Name");

                //Updating a Company Name
                $("input[name='companyName']").each(function (i, obj) {
                    var workExperienceId = $(this).attr("id");
                    var companyName = $(this).val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/WorkExperience/UpdateCompanyName",
                        data: "{ workExperienceId:'" + workExperienceId + "', companyName: '" + companyName + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //alert("after Updating the Company Name");
                //alert("Before Updating the start date");

                //Updating a work start date
                $("input[name='workstart-date']").each(function () {
                    var workExperienceId = $(this).attr("id");
                    var workstartdate = $(this).val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/WorkExperience/UpdateWorkstartDate",
                        data: "{ workExperienceId:'" + workExperienceId + "', workstartdate: '" + workstartdate + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //alert("after Updating the start date");
                //alert("Before Updating the work end date");

                //Updating a work end date
                $("input[name='workend-date']").each(function () {
                    var workExperienceId = $(this).attr("id");
                    var workenddate = $(this).val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/WorkExperience/UpdateWorkEndDate",
                        data: "{ workExperienceId:'" + workExperienceId + "', workenddate: '" + workenddate + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //alert("after Updating the end date");
                //alert("Before Updating the Other work experience");

                //Update Other work experience
                $('.ckeditor').each(function (i, obj) {
                    var workExperienceId = $(this).attr("name");
                    var otherWorkInformation = tinyMCE.get(obj.id).getContent();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/WorkExperience/UpdateOtherWorkInformation",
                        data: "{ workExperienceId:'" + workExperienceId + "', otherWorkInformation: '" + otherWorkInformation + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });

                });

                //alert("after Updating Other work experience");
                //alert("Before Updating the Education info");

                //Education info
                //Updating a Course Name
                $("input[name='CourseName']").each(function () {
                    var EducationId = $(this).attr("id");
                    var courseName = $(this).val();

                    //alert(jobTitle);
                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Education/UpdateCourseName",
                        data: "{ EducationId:'" + EducationId + "', courseName: '" + courseName + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //Updating a institution Name
                $("input[name='institutionName']").each(function () {
                    var EducationId = $(this).attr("id");
                    var institutionName = $(this).val();

                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Education/UpdateInstitutionName",
                        data: "{ EducationId:'" + EducationId + "', institutionName: '" + institutionName + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //Updating a Education start date
                $("input[name='edustart-date']").each(function () {
                    var EducationId = $(this).attr("id");
                    var edustartdate = $(this).val();


                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Education/UpdateEdustartdate",
                        data: "{ EducationId:'" + EducationId + "', edustartdate: '" + edustartdate + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //Updating a Education end date
                $("input[name='eduend-date']").each(function () {
                    var EducationId = $(this).attr("id");
                    var eduenddate = $(this).val();


                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Education/UpdateEducatinEndDate",
                        data: "{ EducationId:'" + EducationId + "', eduenddate: '" + eduenddate + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                //Updating other Education Information
                $('.otherEducationInfo').each(function (i, obj) {
                    var EducationId = $(this).attr("name");
                    var otherEduInfo = tinyMCE.get(obj.id).getContent();


                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/Education/UpdateOtherEduInformation",
                        data: "{ EducationId:'" + EducationId + "', otherEduInfo: '" + otherEduInfo + "'}",
                        dataType: "json",
                        success: function (response) {
                            if (response > 0) {
                            }
                            else {

                            }
                        },
                        error: function (error) {
                            alert("Error Status: " + error.statusText);
                        }
                    });
                });

                @*@objectCvDetails.LastModificationDateTime= time*@

            });


            $("#PreviwSpecificTamplet").click(function () {
                var TampletName = $('input[name=Tamplet]:checked').val();
                if (TampletName == "first") {
                    window.location.href = "/Home/Testview";
                }
                    if (TampletName == "second") {
                     window.location.href = "/Home/Testview1";
                }
                if (TampletName == "third") {
                    window.location.href = "/Home/Testview2";
                }
                if (TampletName == "forth") {
                    window.location.href = "/Home/Testview3";
                }

            });


        });

        function loadImageUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {

                    $("#ImgProfilePhoto")
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    function UploadImage () {
        var file = $("#profilePhoto").get(0).files;

        var data = new FormData();
        data.append("ImageFile", file[0]);
        data.append("FullName", "hey");
        //alert("i am here");

        $.ajax({
            type: "POST",
            url: "/Home/UploadPhoto",
            data: data,
            contentType: false,
            processData: false,
            success: function (response) {
                //alert(response);
                if (response > 0) {
                    $("#photoUpdationStatus").html("<b style='color:green'>photo Updated</b>").fadeIn();
                }
                else {
                    $("#photoUpdationStatus").html("<b style='color:red'>photo Updation failed</b>").fadeIn();
                }
                $("#photoUpdationStatus").fadeOut(1000)
            }





        });
        //alert("after sasving photo");


    }

    function DeleteImage() {
        $.ajax({
            type: "POST",
            url: "/Home/DeletePhoto",
            contentType: false,
            processData: false,
            success: function (response) {
                //alert(response);
            }
        });
    }

    function Print()
    {
        $('#btnPrinPreview1').click(function () {
            var doc = new jsPDF();
            doc.fromHTML(
                $('#PreviewTamp1').get(0), 15, 15,
                { 'width': 170/*, 'elementHandlers': specialElementHandlers*/ });
                 doc.save('sample-file.pdf');


        });
    }


</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CV - Edit</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- custome css -->
<link rel="stylesheet" href="~/js/css/cv-edit.css">
@*</head>*@
@*@{SP_GetSingleCvDetailsByUserIdAndCvId_Result objectCvDetails = (SP_GetSingleCvDetailsByUserIdAndCvId_Result)ViewBag.CvDetails;
}*@
@{SP_GetCvBasicInformationByCvId_Result objectBasicInfoDetails = (SP_GetCvBasicInformationByCvId_Result)ViewBag.CvbasicInfoDetails;
}

@*To alter if needed List*@
@{ List<SP_GetCvEducationDetailsByCvId_Result> objectEducationDetails = (List<SP_GetCvEducationDetailsByCvId_Result>)ViewBag.CvEducationInfoDetails;
}
@{SP_GetCvInterestDetailsByCvId_Result objectInterestDetails = (SP_GetCvInterestDetailsByCvId_Result)ViewBag.CvInterestInfoDetails;
}
@{SP_GetCvObjectiveDetailsByCvId_Result objectObjectiveDetails = (SP_GetCvObjectiveDetailsByCvId_Result)ViewBag.CvObjectiveInfoDetails;
}
@{SP_GetCvQualificationDetailsByCvId_Result objectQualificationDetails = (SP_GetCvQualificationDetailsByCvId_Result)ViewBag.CvQualificationInfoDetails;
}
@{SP_GetCvReferencesDetailsByCvId_Result objectReferencesDetails = (SP_GetCvReferencesDetailsByCvId_Result)ViewBag.CvReferencesInfoDetails;
}

@*To aler if needed List*@
@{List<SP_GetCvWorkExperienceDetailsByCvId_Result> objectWorkExperienceDetails = (List<SP_GetCvWorkExperienceDetailsByCvId_Result>)ViewBag.CvWorkExperienceInfoDetails;
}

@*@using (Html.BeginForm("CvUserEditCv", "Home", FormMethod.Post, new { id = "CvDetailsForm", enctype = "multipart/form-data" }))
    {*@
@*<table width="100">*@


@*//enctype = "multipart/form-data" // we are using this because there is a file in the information to upload that is why this kind of enctype is needed*@
@*@using (Html.BeginForm("CvUserEditCv", "Home", FormMethod.Post, new { id = "CvDetailsForm", enctype = "multipart/form-data" }))
    {
    <form>*@



@*//SP_GetSingleCvDetailsByUserIdAndCvId_Result objCvDetails = objectCvDetails;*@

<!-- navbar -->
@*@using (Html.BeginForm())
    {*@
<!-- Cv Tamplets -->
<div class="modal fade" id="Preview" tabindex="-1" role="dialog" aria-labelledby="Preview" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-0 py-2 d-flex flex-column align-items-center">
                <div class="w-100 text-right px-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-10 p-0">
                    <form action="">
                        <div class="form-group">
                            <br />
                            @*<input type="radio" id="firstTamplet" name="Tamplet" value="first" />
                            <label for="firstTamplet">First</label>
                            <br />
                            <br />*@
                            <input type="radio" id="secondTamplet" name="Tamplet" value="second" />
                            <label for="secondTamplet">Head Line</label>
                            <br />
                            <br />
                            <input type="radio" id="thirdTamplet" name="Tamplet" value="third" />
                            <label for="thirdTamplet">Ink</label>
                            <br />
                            <br />
                            <input type="radio" id="forthTamplet" name="Tamplet" value="forth" />
                            <label for="forthTamplet">Mocca</label>
                            <br />
                            <br />
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                        </div>
                    </form>

                    <div class="text-right py-3">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="PreviwSpecificTamplet" @*data-target="#PreviewTamp1" data-toggle="modal"*@> preview </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Cv Tamplets End-->
@*///////////////////////////////////*@

<!-- Cv Tamplet Preview-->
@*Cv Tamplet preview End*@
<div id="editor"></div>


<nav class="navbar navbar-expand-md navCust shadow-sm bg-white">
    <a class="navbar-brand" href="#">
        <!-- <img src="" alt=""> -->
        logo here
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                @Html.ActionLink("Back To List", "CvUserHome", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/UpgradeToPremium">Upgrade to Premium <i class="fa fa-star-o" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link" href="#">Edit account</a>*@
                @Html.ActionLink("Edit Account", "EditAccount", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Logout", "Logout", null, new { @class = "nav-link" })
                @*<a class="nav-link" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>*@
            </li>
        </ul>
    </div>
</nav>
@* } *@



@*<form class="container" id="form1" action="process/file-upload" enctype="multipart/form-data" method="post" >*@

<div class="container">
    <div class="cv_name py-md-5 py-2">
        @*<h1>@objectCvDetails.CvName</h1>*@
    </div>

    <div class="row">
        <div class="col-md-3">
            <span style="color:green;font-size:15px;font-weight:bold" id="spanSuccussUpdation"></span>
            <br />
                <span style="color:red;font-weight:bold;font-size:12px" id="spanFailUpdation"></span>
        </div>
        <div class="col-md-9 d-flex justify-content-end">
            <div class="my-1">
                @*<button class="btn btn-secondary my-1">help</button>*@
                @*<button class="btn btn-secondary my-1"  data-toggle="modal">Quick Preview</button>*@
                <button id="SaveInformation" class="btn btn-secondary my-1">Save</button>
                <button class="btn btn-secondary my-1" data-target="#Preview" data-toggle="modal">Preview & Download</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills  p-3 bg-white" id="v-pills-tab" role="tablist" aria-orientation="vertical">



                <a class="nav-link active" id="v-pills-basic-tab" data-toggle="pill" href="#v-pills-basic" role="tab" aria-controls="v-pills-basic" aria-selected="true">Basic information</a>


                <a class="nav-link" id="v-pills-work-tab" data-toggle="pill" href="#v-pills-work" role="tab" aria-controls="v-pills-work" aria-selected="false">Work experience</a>

                <a class="nav-link" id="v-pills-qualification-tab" data-toggle="pill" href="#v-pills-qualification" role="tab" aria-controls="v-pills-qualification" aria-selected="false">Qualification</a>

                <a class="nav-link" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="false">Education</a>

                <a class="nav-link" id="v-pills-interest-tab" data-toggle="pill" href="#v-pills-interest" role="tab" aria-controls="v-pills-interest" aria-selected="false">Interests</a>

                <a class="nav-link" id="v-pills-objectives-tab" data-toggle="pill" href="#v-pills-objectives" role="tab" aria-controls="v-pills-objectives" aria-selected="false">Objectives</a>

                <a class="nav-link" id="v-pills-references-tab" data-toggle="pill" href="#v-pills-references" role="tab" aria-controls="v-pills-references" aria-selected="false">References</a>


            </div>
        </div>

        <div class="col-9">
            <form action="">
                <div class="tab-content p-3 bg-white" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel" aria-labelledby="v-pills-basic-tab">
                        <h4>Basic Information</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" name="fullName" id="fullName" maxlength="50" value="@objectBasicInfoDetails.FullName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailId">Email Address</label>
                                    <input type="email" class="form-control" name="emailId" id="emailId" value="@objectBasicInfoDetails.EmailId" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phoneNumber">Phone number</label>
                                    <input type="text" class="form-control" name="phoneNumber" value="@objectBasicInfoDetails.phoneNumber" id="phoneNumber" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control" name="website" id="website" value="@objectBasicInfoDetails.WebSite" maxlength="50">
                                </div>
                            </div>
                            <div class="divide"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="addline1">Address Line 1</label>
                                    <input type="text" class="form-control" name="addline1" id="addline1" value="@objectBasicInfoDetails.AdressLine1" maxlength="50">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="addline2">Address Line 2</label>
                                    <input type="text" class="form-control" name="addline2" id="addline2" value="@objectBasicInfoDetails.AdressLine2" maxlength="50">
                                </div>
                            </div>
                            <div class="divide"></div>
                            @*@using (Html.BeginForm("CvUserEditCv", "Home", FormMethod.Post, new { id = "CvDetailsForm", enctype = "multipart/form-data" }))
                                {*@
                            <div class="col-md-10">
                                <div class="d-flex justify-content-center p-2">
                                    <img class="upload-img" src="@objectBasicInfoDetails.UserPhoto" @*alt="uploaded-image-here"*@ id="ImgProfilePhoto" name="ImgProfilePhoto" style="width:120px;height:150px">
                                    <input type="file" id="profilePhoto" onchange="loadImageUrl(this);" name="profilePhoto">
                                    <span id="photoUpdationStatus"></span>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="button" id="" onclick="UploadImage()" class="btn btn-sm btn-success mx-1">Upload</button>
                                        <button type="button" class="btn btn-sm btn-secondary mx-1" onclick="DeleteImage()">Delete</button>
                                    </div>
                                </div>
                            </div>
                            @* } *@
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>

                    <!-- Work Experience -->

                    <div class="tab-pane fade" id="v-pills-work" role="tabpanel" aria-labelledby="v-pills-work-tab">
                        <h4>Work Experience</h4>
                        @{var k = 1; }
                        @foreach (SP_GetCvWorkExperienceDetailsByCvId_Result objCvWorkExperienceDetails in objectWorkExperienceDetails)
                        {

                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<span id="spanWorkExperienceId" hidden="hidden">@objCvWorkExperienceDetails.WorkExperienceId </span>*@
                                        <label for="jobTitle">Job Title</label>
                                        <input type="text" class="form-control" name="jobTitle" value="@objCvWorkExperienceDetails.JobTitle" id="@objCvWorkExperienceDetails.WorkExperienceId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="companyName">Company Name</label>
                                        <input type="text" class="form-control" name="companyName" value="@objCvWorkExperienceDetails.CompanyName" id="@objCvWorkExperienceDetails.WorkExperienceId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtdateStartWork">Start Date</label>
                                        <input type="text" class="form-control" name="workstart-date" value="@objCvWorkExperienceDetails.StartDate" id="@objCvWorkExperienceDetails.WorkExperienceId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtdateEndWork">End Date</label>
                                        <input type="text" class="form-control" name="workend-date" value="@objCvWorkExperienceDetails.EndDate" id="@objCvWorkExperienceDetails.WorkExperienceId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea name="@objCvWorkExperienceDetails.WorkExperienceId" id="otherWorkInformation+@k"  cols="30" rows="10" class="ckeditor">@objCvWorkExperienceDetails.OtherInformation</textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary my-3" name="DeleteWorkButton" id="@objCvWorkExperienceDetails.WorkExperienceId">Delete</button>
                            <div class="divide"></div>
                            k++;
                        }

                        <div id="newworksection"></div>

                        <div class="divide"></div>
                        <button type="button" class="btn btn-success mb-2" id="workspaceadd">Add</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-qualification" role="tabpanel" aria-labelledby="v-pills-qualification-tab">
                        <h4>Qualification</h4>
                        <div>
                            <textarea name="qualificationText" id="qualificationText" cols="50" rows="20" placeholder="Example: Certified Public Accountant">@objectQualificationDetails.Qualifications</textarea>
                        </div>
                        <p class="hints">Certifications, Accreditation etc, that you have received</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-objectives" role="tabpanel" aria-labelledby="v-pills-objectives-tab">
                        <h4>Objectives</h4>
                        <div class="my-3">
                            <textarea name="objectivesText" id="objectivesText" cols="50" rows="20" placeholder="Example: Certified Public Accountant">@objectObjectiveDetails.Objective</textarea>
                        </div>
                        <div class="divide"></div>
                        @*<a href="#" class="btn btn-secondary my-2">Delete</a>*@
                    </div>


                    <!-- Education -->

                    <div class="tab-pane fade" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
                        <h4>Education</h4>
                        @{var j = 1; }
                        @foreach (SP_GetCvEducationDetailsByCvId_Result objCvEducationDetails in objectEducationDetails)
                        {
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="CourseName">Course name</label>
                                        <input type="text" class="form-control" name="CourseName" value="@objCvEducationDetails.CourseName" id="@objCvEducationDetails.EducationId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="institutionName">Institution Name</label>
                                        <input type="text" class="form-control" name="institutionName" value="@objCvEducationDetails.InstitutionName" id="@objCvEducationDetails.EducationId" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtdateStartEdu">Start Date</label>
                                        <input id="@objCvEducationDetails.EducationId" type="text" class="form-control" name="edustart-date" value="@objCvEducationDetails.StartDate" maxlength="50">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtdateEndEdu">End Date</label>
                                        <input type="text" class="form-control" name="eduend-date" value="@objCvEducationDetails.EndDate" id="@objCvEducationDetails.EducationId" maxlength="50">


                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <textarea id="otherEduInfo+@j" name="@objCvEducationDetails.EducationId" cols="30" rows="10" class="otherEducationInfo">@objCvEducationDetails.OtherInformaton</textarea>
                                </div>
                            </div>
                            <button type="button" class="btn btn-secondary my-3" name="DeleteEduButton" id="@objCvEducationDetails.EducationId">Delete</button>
                            j++;
                        }

                        <div class="divide"></div>

                        <div id="neweducation"></div>
                        <button type="button" class="btn btn-success mb-2" id="eduadd">Add</button>
                    </div>
                    <div class="tab-pane fade" id="v-pills-interest" role="tabpanel" aria-labelledby="v-pills-interest-tab">

                        <h4>Interest</h4>
                        <div class="my-3">
                            <textarea name="interestsText" id="interestsText" cols="50" rows="20" placeholder="Music, Reading, Gardening">@objectInterestDetails.InterestsDetails</textarea>
                        </div>
                        <div class="divide"></div>
                        @*<a href="#" class="btn btn-secondary my-2">Delete</a>*@
                    </div>
                    <div class="tab-pane fade" id="v-pills-references" role="tabpanel" aria-labelledby="v-pills-references-tab">
                        <h4>References</h4>
                        <div class="my-3">
                            <textarea name="referenceText" id="referenceText" cols="50" rows="20" placeholder="Mr. Neo, President of Matrix corp.
Email: neo@neo-matrix.com
Phone: +1-234-5678">@objectReferencesDetails.ReferencesDetails</textarea>
                        </div>
                        <div class="divide"></div>
                        @*<a href="#" class="btn btn-secondary my-2">Delete</a>*@
                    </div>
                </div> <!-- tab content end here -->
                @*<div class="my-3 text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>*@
            </form>
        </div>
    </div>
</div>
@*</table>*@
@*}*@

<footer>
    <div class="mt-md-5 mt-3 pt-md-3 pt-2 bg-white">
        <div class="container">
            <div class="row foot-ul mx-auto">
                <div class="col-md-4">
                    <ul>
                        <li>About us</li>
                        <li>Contact us</li>
                        <li>Privacy Policy</li>
                        <li>Terms and services</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="social-links">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Resume tips</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*</form>*@

</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
@*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/js/plugin.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>
    <script src="~/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init(
            {
                selector: 'textarea',
                menubar: 'false',
                plugins: 'lists placeholder',
                //toolbar: ' bullist numlist | bold underline'
            }
        );
    </script>*@
@*</form>
    }*@

<script language="javascript">
    var cache_width = $('#PreviewTamp1').width(); //Criado um cache do CSS
    var a4 = [595.28, 841.89]; // Widht e Height de uma folha a4

    $(document).on("click", '#btnClosePreview1', function () {
        // Setar o width da div no formato a4
        $("#PreviewTamp1").width((a4[0] * 1.33333) - 80).css('max-width', 'none');

        // Aqui ele cria a imagem e cria o pdf
        html2canvas($('#PreviewTamp1'), {
            onrendered: function (canvas) {
                var img = canvas.toDataURL("image/jpeg", 1.0);
                //var doc = new jsPDF({ unit: 'px', format: 'a4' });//this line error
                var doc = new jsPDF('landscape'); // default is portrait
                doc.addImage(img, 'JPEG', 20, 20);
                doc.save('NOME-DO-PDF.pdf');
                //Retorna ao CSS normal
                $('#PreviewTamp1').width(cache_width);
            }
        });
    });
</script>

@*<script>
                    //$(function () {

                        //var specialElementHandlers = {
                        //    '#editor': function (element, renderer) {
                        //        return true;
                        //    }
                        //};
                        //$('#btnPrinPreview1').click(function () {
                        //    var doc = new jsPDF();
                        //    doc.fromHTML(
                        //        $('#PreviewTamp1').html(), 15, 15,
                        //        { 'width': 170/*, 'elementHandlers': specialElementHandlers*/ },
                        //        function () { doc.save('sample-file.pdf'); }
                        //    );

                        //});
                    //});
    </script>*@
<script src="~/js/jspdf.js"></script>


@*<script src="~/js/pdfFromHTML.js"></script>*@
@*<script>
        $(function () {
            $('textarea').froalaEditor();
        });
    </script>*@

