
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- jQuery Plugins -->
    @*<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.magnific-popup.js"></script>
        <script type="text/javascript" src="~/Scripts/main.js"></script>*@

    <link href="~/Content/themes/le-frog/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/le-frog/theme.css" rel="stylesheet" />

    <script type="text/javascript">


        $(document).ready(function () {

            




        $("#resetPwdbtn").click(function () {
            $("#spanForgetEmail").html("");
            $("#isRegistered").val(0);
            var email = $("#emailAddress").val();
            if (email == "") {
                $("#spanForgetEmail").html("Please Enter Email Address").hide().fadeIn(500);
                $("#emailAddress").focus();
                return false;
            }
            //checkRegisteredEmail(email);

             if (email != "")
            {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("CheckEmailAvailability")",
                    data: "{email:'" + email + "'}",
                    dataType: "json",
                    success: function (response) {
                        var value = response;
                        if (value > 0) {
                            $("#isRegistered").val(1);
                            //alert("inside if email is there " + $("#isRegistered").val());

                            //alert("we come back here ");
                            var s = $("#isRegistered").val();
                             //alert(s);
                            if (s == 1) {
                                //alert("i am here in regristed");
                                //alert(email);
                            $.ajax({
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                url: "@Url.Action("SendForgetPassword")",
                                data: "{email:'" + email + "'}",
                                dataType: "json",
                                success: function (response) {
                                    //alert(response);

                                    if (response > 0) {
                                        //$("#spanEmailSuccess").text(email);
                                        $("#spanForgetEmail").html("Email has sent to your email with new password");
                                    }
                                    else {
                                        //$("#lblForgetPwdStatus").html("please enter correct answer!!!").hide().fadeIn(500);
                                        //$("#txtAnswer").focus();
                                        $("#spanForgetEmail").html("not sent");
                                        //alert("did not sent ");
                                        return false;
                                    }
                                },
                                error: function (error) {
                                    alert("Error Status: " + error.statusText);
                                }
                            });

            }
            else {
                $("#spanForgetEmail").html("Email Address is not registered with us.").hide().fadeIn(500);
                return false;
            }
                        }
                        else {
                            $("#spanForgetEmail").html("Email Address is not registered with us.").hide().fadeIn(500);

                            $("#emailAddress").focus();
                            return false;
                        }
                    },
                    error: function (error) {
                        alert("Error Status: " + error.statusText);
                    }
                });
            }

            return false;

            //var callback = function () {
            //    if ($.active !== 0) {
            //        setTimeout(callback, '200');
            //    }
            //};
            //callback();
            @*alert("we come back here ");
            var s = $("#isRegistered").val();
            alert(s);
            if (s == 1) {
                alert("i am here in regristed");
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("SendForgetPassword")",
                    data: "{email:'" + email + "'}",
                    dataType: "json",
                    success: function (response) {
                        alert(response);

                        if (response > 0) {
                            //$("#spanEmailSuccess").text(email);
                            $("#spanForgetEmail").html("Email has sent to your email with new password");
                        }
                        else {
                            //$("#lblForgetPwdStatus").html("please enter correct answer!!!").hide().fadeIn(500);
                            //$("#txtAnswer").focus();
                            $("#spanForgetEmail").html("not sent");
                            alert("did not sent ");
                            return false;
                        }
                    },
                    error: function (error) {
                        alert("Error Status: " + error.statusText);
                    }
                });

            }
            else {
                //$("#spanForgetEmail").html("Email Is not regristed with us");
                return false;
            }*@

        });

        function checkRegisteredEmail(email)
        {
            if (email != "")
            {
                $.ajax({
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    url: "@Url.Action("CheckEmailAvailability")",
                    data: "{email:'" + email + "'}",
                    dataType: "json",
                    success: function (response) {
                        var value = response;
                        if (value > 0) {
                            $("#isRegistered").val(1);
                            alert("inside if email is there " + $("#isRegistered").val());

                            alert("we come back here ");
                            var s = $("#isRegistered").val();
                             alert(s);
                            if (s == 1) {
                             alert("i am here in regristed");
                            $.ajax({
                                type: "POST",
                                contentType: "application/json;charset=utf-8",
                                url: "@Url.Action("SendForgetPassword")",
                                data: "{email:'" + email + "'}",
                                dataType: "json",
                                success: function (response) {
                                    alert(response);

                                    if (response > 0) {
                                        //$("#spanEmailSuccess").text(email);
                                        $("#spanForgetEmail").html("Email has sent to your email with new password");
                                    }
                                    else {
                                        //$("#lblForgetPwdStatus").html("please enter correct answer!!!").hide().fadeIn(500);
                                        //$("#txtAnswer").focus();
                                        $("#spanForgetEmail").html("not sent");
                                        alert("did not sent ");
                                        return false;
                                    }
                                },
                                error: function (error) {
                                    alert("Error Status: " + error.statusText);
                                }
                            });

            }
            else {
                $("#spanForgetEmail").html("Email Address is not registered with us.").hide().fadeIn(500);
                return false;
            }
                        }
                        else {
                            $("#spanForgetEmail").html("Email Address is not registered with us.").hide().fadeIn(500);

                            $("#emailAddress").focus();
                            return false;
                        }
                    },
                    error: function (error) {
                        alert("Error Status: " + error.statusText);
                    }
                });
            }
        }

        //$("#txtForgetPwdEmail").keyup(function () {
        //    if ($(this).val().length > 0) {
        //        $("#spanForgetEmail").html("").fadeOut(500);
        //    }
        //    else {
        //        $("#spanForgetEmail").html("Please Enter Email Address").hide().fadeIn(500);
        //        $(this).focus();
        //    }
        //});

        //$("#txtForgetPwdEmail").focusout(function () {
        //    $("#spanForgetEmail").html("");
        //    var email = $(this).val();
        //    checkRegisteredEmail(email);
        //});


        //$("#btnEmailPassword").click(function () {
        //    $("#spanForgetEmail").html("");
        //    $("#spanAnswer").html("");
        //    var email = $("#txtForgetPwdEmail").val();
        //    if (email == "") {
        //        $("#spanForgetEmail").html("Please Enter Email Address").hide().fadeIn(500);
        //        $("#txtForgetPwdEmail").focus();
        //        return false;
        //    }
            //if ($("#txtHintQuestion").val() != "")
            //{
            //    if ($("#txtAnswer").val() == "")
            //    {
            //        $("#spanAnswer").html("Please Enter Answer").hide().fadeIn(500);
            //        $("#txtAnswer").focus();
            //        return false;
            //    }
            //}

            //var answer = $("#txtAnswer").val();
            //alert(answer);
            @*$.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "@Url.Action("SendForgetPassword")",
                data:  "{email:'" + email + "'}",
                /*+ "', answer:'" + answer +"'}",*/
                dataType: "json",
                success: function (response) {
                    alert(response);

                    if (response > 0) {
                        $("#forgetPwdDialog").dialog("close");
                        $("#spanEmailSuccess").text(email);
                        $("#forgetPwdSuccessDialog").dialog("open");
                    }
                    else
                    {
                        //$("#lblForgetPwdStatus").html("please enter correct answer!!!").hide().fadeIn(500);
                        //$("#txtAnswer").focus();
                        alert("did not sent ");
                        return false;
                    }
                },
                error: function (error)
                {
                    alert("Error Status: " + error.statusText);
                }
            });*@
        });


        //});
    </script>



    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../css/util.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #999999;">

    @using (Html.BeginForm())
    {
    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('../images/Index/background11111.jpg');"></div>



            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <form class="login100-form validate-form">

                    <input id="isRegistered" type="text" hidden="hidden" />

                    <span class="login100-form-title p-b-59">
                        Reset your Password
                    </span>
                    @*///////////////////////////////////////////////////*@
                    <!--Error-->
                    @if (ViewBag.Status != null)
                    {
                        <b style="color:red">@ViewBag.Status</b>
                    }
                    <!--Resend Activation Mail-->
                    @if (ViewBag.Activation == 1)
                    {
                        <b>&nbsp;</b>
                        <a href="#" onclick="document.forms[1].submit();">Resent Activation Mail</a>
                    }
                    &nbsp;

                    @if (TempData["SendActivationMail"] != null)
                    {
                        <b style="color:green">Activation Mail has been semt successfully!!!</b>
                    }
                    @*////////////////////////////////////////////////////////////////*@

                    &nbsp;

                    <span id="spanForgetEmail" style="font-weight:bold;color:red;background-color:yellow"></span>


                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="label-input100">Email</span>
                        <input id="emailAddress" class="input100" type="text" name="email" placeholder="Email addess...">
                        <span class="focus-input100"></span>
                    </div>

            @*<div>
            <a align="right" href="/Home/Registration" class="dis-block txt1 hov1 p-r-0 p-t-0 p-b-0 p-l-0">
                <br /> Sign In
                <i class="fa fa-long-arrow-right m-l-5"></i>
            </a>
            </div>*@


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <div class="wrap-login100-form-btn">
                                <button id="resetPwdbtn" class="login100-form-btn">
                                    Reset your password
                                </button>
                            </div>
                        </div>
                        <a align="right" href="/Home/LogIn" class="dis-block txt1 hov1 p-r-0 p-t-0 p-b-0 p-l-0">
                            <br /> Sign In
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
        </form>
    </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("ActivationMail", "Home"))
    {

    }
    <!--===============================================================================================-->
    @*<script src="../Scripts/jquery-3.3.1.min.js"></script>*@
    <!--===============================================================================================-->
    @*<script src="../Scripts/js/bootstrap.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="../../js/main.js"></script>

</body>
</html>

