@model EventReminderService.Areas.Admin.Models.Admin

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_ControlPanelLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var txtOldPwd = $("#txtOldPassword"); 

        var uname = '@Session["AdminUser"].ToString()'

        var lblOldPwdStatus = $("#lblOldPwdStatus");

        var btnChangePwd = $("#btnChangePassword");

        txtOldPwd.focus();

        txtOldPwd.focusout(function () {
            if (txtOldPwd.val() != "") {
                $.ajax({
                    type: "Post",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("CheckOldPassword")', 
                    data: "{ oldPwd:'" + txtOldPwd.val() + "', userName:'" + uname + "'}",
                    dataType: "json",
                    success: function (response) {
                        var value = response;

                        if (parseInt(value) == 1) {
                            lblOldPwdStatus.html("<img src='../../Images/Right.png' style='position: absolute; width:20px; hight:20px;' />").hide().fadeIn(1000);
                            btnChangePwd.prop("disabled", false);
                           // txtOldPwd.focus();
                        }
                        else
                        {
                            lblOldPwdStatus.html("<img src='../../Images/Wrong.png' style='position: absolute; width:20px; hight:20px;' title='Please enter correct Password!!!'/>").hide().fadeIn(1000);
                            btnChangePwd.prop("disabled", true);
                            txtOldPwd.focus();
                        }
                    },
                    error: function (error) {
                        alert("Error: " + error.status);
                    }
                });
            }
        });
    });
</script>

@using (Html.BeginForm())
{
<table style="width:100%">
    <tr>
        <td colspan="3">
            ::Change Password::
        </td>
    </tr>
    <tr>
        <th colspan="3">
            @*Displat Status Message*@
            @if (ViewBag.Status != null)
            {
                if(ViewBag.Status==1)
                {
                    <b style="color:green">Password has been changed successfully!!!</b>
                }
                else
                {
                    <b style="color:red">Password has been Changing Failed</b>
                }
            }
        </th>
    </tr>
    <tr>
        <th style="width:48%;text-align:right">
            @Html.LabelFor(m => Model.OldPassword)
        </th>
        <th style="width:2%">:</th>
        <td>
            @Html.PasswordFor(m => Model.OldPassword, new { id = "txtOldPassword" })

            <span id="lblOldPwdStatus"></span>

        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => Model.OldPassword, "", new { style ="color:red" })
        </td>
    </tr>
    <tr>
        <th style="text-align:right">
            @Html.LabelFor(m => Model.NewPassword)
        </th>
        <th>:</th>
        <td>
            @Html.PasswordFor(m => Model.NewPassword, new { id = "txtNewPassword" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => Model.NewPassword, "", new { style = "color:red" })
        </td>
    </tr>
    <tr>
        <th style="text-align:right">
            @Html.LabelFor(m => Model.ConfirmPassword)
        </th>
        <th>:</th>
        <td>
            @Html.PasswordFor(m => Model.ConfirmPassword, new { id = "txtConfirmPassword" })
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            @Html.ValidationMessageFor(m => Model.ConfirmPassword, "", new { style = "color:red" })
        </td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <td>
            <input type="submit" value="Change Password" id="btnChangePassword" />
        </td>
    </tr>

</table>

}
